
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List href="0152_arquivos/filelist.xml">
<title>Consultta.com - Modelos de Documentos </title>

<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:1627421319 -2147483648 8 0 66047 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
@page Section1
	{size:612.0pt 792.0pt;
	margin:70.85pt 3.0cm 70.85pt 3.0cm;
	mso-header-margin:35.4pt;
	mso-footer-margin:35.4pt;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
body {
	margin-left: 50px;
	margin-right: 50px;
}
.style1 {
	font-family: Verdana;
	font-size: 10px;
}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Tabela normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body lang=PT-BR style='tab-interval:35.4pt'>
  <div align="center"><span class="style1"><b style='mso-bidi-font-weight:
normal'><span style='color:black'>AVISO
    PRÉVIO DE FÉRIAS </span></b></span></div>
<span class="style1"><b style='mso-bidi-font-weight:
normal'><span style='color:black'><o:p></o:p>
</span></b>
<div align="justify"><span style='color:black'>       
</span></div>
<span style='color:black'><o:p></o:p>
</span></span>
<div align="justify"><span style='font-size:10px; font-family:Verdana;color:black'>Comunicação ao Sr. {{name}} </span></div>
<span style='font-size:10px; font-family:Verdana;color:black'><o:p></o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">O
  {{Empregador}} vem, através do presente, notificar o EMPREGADO, com antecedência de
  30 (trinta) dias, nos termos do art. 135 da Consolidação das Leis do Trabalho(1), que concederá férias no período abaixo
determinado. </div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<div align="justify">PERÍODO DE AQUISIÇÃO: </div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">O
  período de aquisição originado do presente direito é até o mês: {{formatDate my.context.date "MM"}}
<o:p></o:p>
       
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<div align="justify">PERÍODO DE GOZO DE FÉRIAS: </div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">O
  período de gozo das férias será de: {{formatDate my.context.date "MM"}} de
{{formatDate my.context.date "Y"}}  a {{formatDate my.context.date "MM" }}  de {{formatDate my.context.date "Y"}} </div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<div align="justify">BASE PARA CÁLCULO DA REMUNERAÇÃO DAS FÉRIAS: </div>
<o:p></o:p>
{{formatDate my.context.date "dddd DD.MM.YYYY HH:mm"}}
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
 
<div align="justify">Deduções: </div>
<o:p></o:p>
      
<div align="justify">INSS - R$ {{Inss}} (valor expresso);
</div>
<o:p></o:p>
      
<div align="justify">IRF - R$ {{IRF}} (valor expresso);
</div>
<o:p></o:p>
       
<div align="justify">que somam R$ (.........) (valor expresso).
</div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">O
  valor líquido a receber será então de R$ (..........)
(valor expresso). </div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
      
<div align="justify">Pelo presente fica o empregado comunicado que, de acordo com a Lei,
  ser-lhe-ão concedidas férias relativas ao período acima descrito, estando à sua
  disposição a importância líquida de R$ (......) (valor
expresso), a ser paga adiantadamente(3). </div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">{{formatDate my.context.date "dddd DD.MM.YYYY HH:mm"}}
</div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
      
<div align="justify">{{ Empregador }}
</div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
      
<div align="justify">{{ Empregador }}
</div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">NOTAS
</div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
       
<div align="justify">1.
  De acordo com o artigo 135, §2º, a concessão das férias será anotada no livro
ou nas fichas de registro dos empregados. </div>
<o:p></o:p>
       
<div align="justify">2.
  Para determinação da quantidade de dias disponíveis para o gozo das férias,
  observar-se-á o número de faltas não justificadas, de acordo com o artigo 130
da Consolidação das Leis Trabalhistas. </div>
<o:p></o:p>
       
<div align="justify">3.
  Nos termos do artigo 145 da Consolidação das Leis Trabalhistas, o pagamento da
  remuneração das férias será efetuado até dois dias antes do início do respectivo
período. </div>
<div>
    {{ChaveTeste}}
</div>
<o:p></o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
<o:p>&nbsp;</o:p>
</span>
</body>

</html>
